<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="fixed-bottom">

  <footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container">





<div class="row p-3">
 
  <div class="col-8">  <a class="text-dark" href="/home/">Tandon's SHEMS <strong>© 2023</strong></a></div>
  <div class="col">
    <div class="row">
      <div class="col"><a class="text-dark" href="/home/">Contact Us</a></div>
        <div class="col"><a class="text-dark" href="/home/">About Us</a></div>
      
    </div>
   </div>
</div>



  </div>


</footer>
  
</div>